{% extends "layout.html" %}

{% block content %}

	<article>
			<section>
				<h2>
					О клубе "Побег из города от 100 ТРОП"
				</h2>
				<p>
					Клуб Побег из города - лидер рынка активного туризма и альпинизма в России! <br>
					16 успешных экспедиций на Эверест,  25 экспедиций на Северный и Южный полюс! <br>
					Ежегодно более 1000 человек совершают с нами восхождения в 40 странах Мира! <br>
					Наш девиз - безопасность и качество! <br>
					В организации восхождений на вершины, в альпинистских экспедициях и  в сложнейших высотных восхождениях вплоть до Эвереста и Антарктиды, Клуб 100 троп является законодателем мод в России и странах постсоветского пространства.
				</p>
			</section>
			<section>
				<img class="trop" src="/static/images/100trop.jpg"  alt="Произошли технические шоколадки">
			</section>
	</article>

{% endblock %}