{% extends "layout.html" %}

{% block content %}

    <article>
		<section>
            <h2>
                Почему стоит сходить в горы?
            </h2>

            <p>Горы учат человека смотреть на этот мир с другого ракурса, помогают отличить важное от мелкого, меняют мировоззрение, воспитывают силу духа, взращивают любовь и уважение к себе и ближнему, позволяют понять и принять себя настоящего.</p>
            <p>Горы - это близость к небу и звездам. Это величие, мощь и красота природы. </p>
        </section>
    </article>

{% endblock %}